body {
    background-color: #f5f5f5 !important;
}
.container {
    max-width: 894px !important;
}
.table {
    .secondTitle {
        background-color: #2c7ef9;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        padding: 12px 16px;
    }
    tbody {
        tr {
            td {
                text-align: left;
                color: #253858;
                border: 1px solid #dddddd;
                background-color: #fff;
                font-size: 12px;
            }
        }
    }
    thead {
        tr {
            th {
                background-color: #fff;
                border: 1px solid #dddddd;
                color: #253858;
                padding: 24px 16px;
                text-align: left;
                font-size: 14px;
            }
        }
    }
    .emptyCell {
        td {
            background: none;
            border: none;
        }
    }
}
